<?xml version="1.0"?>

<connectionStrings>
  <add name="CourseMapDataModelKey" connectionString="Data Source=PRAVEEN-PC\SQLEXPRESS;Initial Catalog=CourseMap;Connect Timeout=200; pooling='true';
       Max Pool Size=200;User ID=sa;  Password=matrix" />
  <add name="CourseMapDataModel" connectionString="metadata=res://*/DataModel.CourseMapDataModel.csdl|res://*/DataModel.CourseMapDataModel.ssdl|res://*/DataModel.CourseMapDataModel.msl;
     provider=System.Data.SqlClient;provider connection string=&quot;
    data source=PRAVEEN-PC\SQLEXPRESS;initial catalog=CourseMap;persist security info=True;user id=sa;password=matrix;MultipleActiveResultSets=True;
    App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>